<% layout("/layouts/boilerplate") -%>
<div class="row mt-3">
    <h2 class="col-8 offset-2">Login</h2>
    <div class="col-8 offset-2">
        <form action="/login" method="POST" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-lable">Username:</label>
                <input name="username" 
                 type="username"
                  class="form-control"
                  id="username" 
                  required>
            </div>


            <div class="mb-3">
                <label for="password" class="form-lable">Password:</label>
                <input name="password" 
                 type="password"
                 id="password" 
                 class="form-control"
                 required>
            </div>
            <button class="btn btn-success ">Login</button>
        </form>

    </div>
</div>